{% import './tools/_macros.css' %}

:root {
    /* Containers */
    --container-width: 1470px;

    /* Colors */
    --color--black: #000;
    --color--navy: #13151e;
    --color--grey-dark: #212121;
    --color--grey-light: #f2f2f2;
    --color--grey: #848484;
    --color--teal-dark: #008783;
    --color--teal: #00c1af;
    --color--off-white: #fbfbfb;
    --color--white: #fff;

    /* Typography */
    --font-family--primary: "Hanken Grotesk", "Helvetica", "Arial", sans-serif;

    /* Clamp values are calculated using https://www.marcbacon.com/tools/clamp-calculator/ with a min viewport of 320px and a max viewport of 1600px */
    --font-size--2xs: 0.75rem; /* 12px */
    --font-size--xs: 0.875rem; /* 14px */
    --font-size--sm: 1rem; /* 16px */
    --font-size--base: clamp(1.25rem, 1.188rem + 0.313vw, 1.5rem); /* 20px/24px */
    --font-size--md: clamp(1.75rem, 1.656rem + 0.469vw, 2.125rem); /* 34px/28px */
    --font-size--lg: clamp(1.875rem, 1.719rem + 0.781vw, 2.5rem); /* 40px/30px */
    --font-size--xl: clamp(2.188rem, 1.797rem + 1.953vw, 3.75rem); /* 60px/35px */
    --font-size--2xl: clamp(2.5rem, 2.109rem + 1.953vw, 4.063rem); /* 65px/40px */
    --font-size--3xl: clamp(3.125rem, 1.719rem + 7.031vw, 8.75rem); /* 140px/50px */

    /* Spacing */
    --spacing--xs: 1.25rem; /* 20px */
    --spacing--sm: 1.875rem; /* 30px */
    --spacing--md: 2.5rem; /* 40px */
    --spacing--lg: clamp(2.5rem, 2.188rem + 1.563vw, 3.75rem); /* 40px/60px */
    --spacing--xl: clamp(3.75rem, 2.813rem + 4.688vw, 7.5rem); /* 60px/120px */
}