.hs-form label {
  position: absolute;
  top: 1px;
  left: 0;
  transition: all 0.35s linear;
}

.hs-form input[type="text"],
.hs-form input[type="email"],
.hs-form input[type="tel"],
.hs-form input[type="password"],
.hs-form textarea {
  position: relative;
  padding: 12px 0 8px;
  display: block;
  width: 100%;  
  height: 34px;
  border-radius: 0;
  border-bottom: 1px solid var(--color--grey-dark);
  background: none;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

.hs-form textarea {
  padding-top: 0;
  height: 170px;
  max-height: 170px;
  font-weight: 400;
  resize: none;
  overflow-y: auto;
}

.hs-form input:focus ~ label,
.hs-form textarea:focus ~ label,
.hs-form input:not(:placeholder-shown):not(:focus) ~ label,
.hs-form textarea:not(:placeholder-shown):not(:focus) ~ label {
  top: 10px;
  font-size: 14px;
}

.hs-form input[type=file] {
  padding: initial;
  max-width: max-content;
  border: 1px solid;
  background-color: transparent;
}

.hs-form input::placeholder,
.hs-form textarea::placeholder,
.hs-form input::-webkit-input-placeholder,
.hs-form textarea::-webkit-input-placeholder {
  color: var(--color--grey-dark);
  font-size: 18px;
  opacity: 1;
}

.hs-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0 1em 0 0;
  width: 100%;
  height: 34px;
  border: 1px solid var(--color--grey-dark);
  border-radius: 0;
  border-width: 0 0 1px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      currentColor 50%
    ),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 10px top 0.85em, right 5px top 0.85em;
  background-size: 5px 5px, 5px 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hs-form select::-ms-expand {
  display: none;
}

.hs-form .hs-fieldtype-select label {
  display: none;
}

.hs-form .inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hs-form .inputs-list > li {
  display: block;
  margin: 0.7rem 0;
}

.hs-form .inputs-list input,
.hs-form .inputs-list span {
  vertical-align: middle;
}

.hs-form .inputs-list label {
  position: relative;
  top: auto;
  left: auto;
}

.hs-form input[type=checkbox],
.hs-form input[type=radio] {
  margin-right: 0.625rem;
  width: 1rem !important;
  height: 1rem !important;
  cursor: pointer;
}

.hs-form .legal-consent-container {
  padding: 10px 0;
  font-size: 14px;
  opacity: 0.7;
}

.hs-form .legal-consent-container a {
  text-decoration: underline;
}

.hs-form ..legal-consent-container .hs-form-booleancheckbox-display input {
  margin-top: 0.3rem;
}

.hs-form .hs-submit {
  margin-top: var(--spacing--md);
}

.hs-form input[type=submit] {
  padding-right: 53px;
  background-image: url({{ get_asset_url('/red-fern-theme/images/icons/arrow-dark.svg') }});
  background-repeat: no-repeat;
  background-position: right 28px center;
  background-size: 13px 12px;
  transition-property: all;
}

.hs-form input[type=submit]:hover {
  background-image: url({{ get_asset_url('/red-fern-theme/images/icons/arrow-white.svg') }});
}

.hs-form .hs-error-msg {
  position: relative;
  top: auto;
  left: auto;
  color: red;
  font-size: 14px;
}

.hs-form .hs_error_rollup {
  color: red;
}

.hs-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.hs-form .hs-form-field {
  position: relative;
  margin-top: 40px;
  font-size: 18px;
}

.hs-form .hs-form-field:focus-within > label,
.hs-form .hs-form-field.no-empty > label {
  top: -20px;
  font-size: 12px;
}

/* Layout */

fieldset.form-columns-1 .input {
  margin-right: 0 !important;
}

fieldset.form-columns-1 .input > .hs-input {
  width: 100% !important;
}

form fieldset {
  max-width: 100% !important;
}

form fieldset.form-columns-2,
form fieldset.form-columns-3 {
  display: flex;
  flex-wrap: wrap;
}

form fieldset.form-columns-2 .hs-form-field,
form fieldset.form-columns-3 .hs-form-field {
  width: 100% !important;
  float: none !important;
}

form fieldset.form-columns-2 .hs-form-field .input,
form fieldset.form-columns-3 .hs-form-field .input {
  margin-right: auto !important;
}

@media (min-width: 1024px) {
  form fieldset.form-columns-2,
  form fieldset.form-columns-3 {
    flex-wrap: nowrap;
    gap: var(--spacing--sm);
  }
}

@media (max-width: 400px), (min-device-width: 320px) and (max-device-width: 480px) {
  form fieldset.form-columns-2 .hs-form-field .hs-input,
  form fieldset.form-columns-3 .hs-form-field .hs-input {
    width: 100% !important;
  }
}